#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
.carta{
  border-radius: 10px;
  margin: 10px;
  padding: 5px;
  background-color: #3D8D7A;
  background-image: linear-gradient(180DEG, #2e6b5d, #3D8D7A);
} 
.temp {
  font-size: 2rem;
}
.card {
  padding-bottom: 0 !important;
  padding: 2em;
}
.searcher {
  display: flex;
  justify-content: center;
}
.searcher > input {
  background-color: #A3D1C6;
  border: none;
  border-radius: 5px;
  color: black !important;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  margin-right: 5px;
}
button {
  height: 40px;
  width: 40px;
  margin-left: 5px;
  display: inline-block;
}
.weather-options {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}


@media only screen and (max-width: 600px) {

html, body {
    max-width: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
  }
 #root {
  padding: 5px;
 }
 button {
  border-radius: 0px;
 }

 button::before {
  border-radius: 5px;
 }

 .searcher {
  width: 350px
 }

}