#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
.carta{
  border-radius: 10px;
  margin: 10px;
  padding: 5px;
  background-color: #3D8D7A;
  background-image: linear-gradient(180DEG, #2e6b5d, #3D8D7A);
} 
.temp {
  font-size: 2rem;
}
.card {
  padding-bottom: 0 !important;
}
.searcher {
  display: flex;
  justify-content: center;
  
}
.searcher > input {
  background-color: white;
  border: none;
  border-radius: 5px;
  color: black !important;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  margin-right: 5px;
}
button {
  height: 40px;
  width: 40px;
  margin-left: 5px;
  display: inline-block;
}
.weather-options {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
